In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
stl_schools = pd.read_csv("stl_schools_with_latlong.csv")

In [4]:
stl_schools.head()

,Unnamed: 0,YEAR,COUNTY_DISTRICT_CODE,DISTRICT_NAME,SCHOOL_CODE,SCHOOL_NAME,ENROLLMENT_GRADES_K_12,JANUARY_MEMBERSHIP,LUNCH_COUNT_FREE_REDUCED,LUNCH_COUNT_FREE_REDUCTED_PCT,...,JUNIOR_HIGH_SCHOOL_FLAG,HIGH_SCHOOL_FLAG,AVTS_FLAG,ALTERNATIVE_SCHOOL_FLAG,FULL_CODE,CHARTER,MAGNET,ALTERNATIVE,LAT,LNG
0,0,2000,115115,ST. LOUIS CITY,1015,GRISCOM DETENTION CTR.,71,69.0,32,46.4,...,,,,Y,115-115-1015,False,False,True,38.64417,-90.234954
1,1,2001,115115,ST. LOUIS CITY,1015,GRISCOM DETENTION CTR.,86,81.0,43,53.1,...,,,,Y,115-115-1015,False,False,True,38.64417,-90.234954
2,2,2002,115115,ST. LOUIS CITY,1015,GRISCOM DETENTION CTR.,92,82.0,35,42.7,...,,,,Y,115-115-1015,False,False,True,38.64417,-90.234954
3,3,2003,115115,ST. LOUIS CITY,1015,GRISCOM DETENTION CTR.,73,89.0,43,48.3,...,,,,Y,115-115-1015,False,False,True,38.64417,-90.234954
4,4,2004,115115,ST. LOUIS CITY,1015,GRISCOM DETENTION CTR.,98,98.0,45,45.9,...,,,,Y,115-115-1015,False,False,True,38.64417,-90.234954

In [5]:
stl_schools.columns

Index(['Unnamed: 0', 'YEAR', 'COUNTY_DISTRICT_CODE', 'DISTRICT_NAME',
       'SCHOOL_CODE', 'SCHOOL_NAME', 'ENROLLMENT_GRADES_K_12',
       'JANUARY_MEMBERSHIP', 'LUNCH_COUNT_FREE_REDUCED',
       'LUNCH_COUNT_FREE_REDUCTED_PCT', 'ENROLLMENT_ASIAN',
       'ENROLLMENT_ASIAN_PCT', 'ENROLLMENT_ASIAN_PACIFIC_ISLANDER',
       'ENROLLMENT_ASIAN_PACIFIC_ISLANDER_PCT', 'ENROLLMENT_BLACK',
       'ENROLLMENT_BLACK_PCT', 'ENROLLMENT_HISPANIC',
       'ENROLLMENT_HISPANIC_PCT', 'ENROLLMENT_INDIAN', 'ENROLLMENT_INDIAN_PCT',
       'ENROLLMENT_MULTIRACIAL', 'ENROLLMENT_MULTIRACIAL_PCT',
       'ENROLLMENT_PACIFIC_ISLANDER', 'ENROLLMENT_PACIFIC_ISLANDER_PCT',
       'ENROLLMENT_WHITE', 'ENROLLMENT_WHITE_PCT', 'ENROLLMENT_ELL_LEP',
       'ENROLLMENT_ELL_LEP_PCT', 'ENROLLMENT_GRADE_PK_ELL_LEP',
       'ENROLLMENT_GRADE_PK_ELL_LEP_PCT', 'IEP_SCHOOLAGE_CHILDCOUNT',
       'IEP_INCIDENCE_RATE', 'LUNCH_COUNT_FREE_REDUCED_PCT', 'SCHADDR1',
       'SCHADDR2', 'SCHCITY', 'SCHZIP', 'SCHLPHON', 'SCHLFAX', 'BGRADE',
       'EGRADE', 'SCHTTEACH', 'SCHENRR', 'SCHENRNR', 'SCHTENR',
       'ELEMENTARY_SCHOOL_FLAG', 'MIDDLE_SCHOOL_FLAG',
       'JUNIOR_HIGH_SCHOOL_FLAG', 'HIGH_SCHOOL_FLAG', 'AVTS_FLAG',
       'ALTERNATIVE_SCHOOL_FLAG', 'FULL_CODE', 'CHARTER', 'MAGNET',
       'ALTERNATIVE', 'LAT', 'LNG'],
      dtype='object')

In [6]:
stl_schools_filtered = stl_schools[['YEAR', 'SCHOOL_NAME', 'ENROLLMENT_GRADES_K_12', 'SCHADDR1', 'SCHCITY', 'SCHZIP', 'FULL_CODE', 'CHARTER', 'MAGNET', 'ALTERNATIVE', 'LAT', 'LNG']]

In [7]:
stl_schools_filtered.head()

,YEAR,SCHOOL_NAME,ENROLLMENT_GRADES_K_12,SCHADDR1,SCHCITY,SCHZIP,FULL_CODE,CHARTER,MAGNET,ALTERNATIVE,LAT,LNG
0,2000,GRISCOM DETENTION CTR.,71,3847 Enright Avenue,St. Louis,631080000,115-115-1015,False,False,True,38.64417,-90.234954
1,2001,GRISCOM DETENTION CTR.,86,3847 Enright Avenue,St. Louis,631080000,115-115-1015,False,False,True,38.64417,-90.234954
2,2002,GRISCOM DETENTION CTR.,92,3847 Enright Avenue,St. Louis,631080000,115-115-1015,False,False,True,38.64417,-90.234954
3,2003,GRISCOM DETENTION CTR.,73,3847 Enright Avenue,St. Louis,631080000,115-115-1015,False,False,True,38.64417,-90.234954
4,2004,GRISCOM DETENTION CTR.,98,3847 Enright Avenue,St. Louis,631080000,115-115-1015,False,False,True,38.64417,-90.234954

In [8]:
stl_schools_filtered.to_json("allschools.json", orient="records")

In [9]:
stl_schools_2020 = stl_schools_filtered[stl_schools_filtered['YEAR'] == 2020]

In [10]:
stl_schools_2020.head()

,YEAR,SCHOOL_NAME,ENROLLMENT_GRADES_K_12,SCHADDR1,SCHCITY,SCHZIP,FULL_CODE,CHARTER,MAGNET,ALTERNATIVE,LAT,LNG
17,2020,GRISCOM JUVENILE DETENTION CTR,11,3847 Enright Avenue,St. Louis,631080000,115-115-1015,False,False,True,38.644170,-90.234954
31,2020,EDUC THERAP SUPPORT AT MADISON,0,1118 South 7th St.,St. Louis,631040000,115-115-1024,False,False,True,38.616254,-90.195803
52,2020,MILLER CAREER ACADEMY,494,1000 N Grand,St. Louis,631061622,115-115-1100,False,True,False,38.642748,-90.228258
73,2020,GATEWAY HIGH,976,5101 Mcree Avenue,St. Louis,631102019,115-115-1220,False,True,False,38.621607,-90.270462
98,2020,COMMUNITY ACCESS JOB TRAINING,124,4915 Donovan Avenue,St. Louis,631092631,115-115-1222,False,False,True,38.587527,-90.304369

In [11]:
stl_schools_2020.to_json("schools2020.json", orient="records")